import * as Style from './styles';

export type {{pascalCase name}}Props = {
};

export function {{pascalCase name}}({  }: {{pascalCase name}}Props) {
  return (
    <Style.Wrapper
      data-testid="{{name}}-wrapper"
    >
    <h1>{{pascalCase name}}</h1>
    </Style.Wrapper>

  );
}
